@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: auto;
}

html {
    scroll-behavior: smooth;
}

/*VARIÁVEIS*/
:root{
    --black: #00050b;
    --button-color: #FFBA00;
    --base-color: white;
}

body{
    background: var(--black);
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #d20913;
    padding: .50rem 1rem .50rem 1rem;
    font-size: 1rem;
    box-shadow: 0.156rem 0.078rem 0.078rem rgb(173, 172, 172);
}

h1{
    color: var(--base-color);
    transition: 0.5s; 
    text-decoration: underline;
    text-shadow: 0.156rem 0.078rem 0.078rem #4F4F51;
}

h1:hover{
    cursor: pointer;
}

.redes-sociais{
    margin-right: 3rem;
    text-shadow: 0.156rem 0.078rem 0.078rem #4F4F51;
    font-size: 2rem;
    
}

.fa-linkedin-in{
    /* topo | direita | inferior | esquerda */
    margin: 0 0 0 1rem;
}

.fa-linkedin-in:hover, .fa-github-alt:hover{
    cursor: pointer;
    color: #4F4F51;
}

.container{
    display: grid;
    justify-content: space-evenly;
}

.container p{
    margin-top: 1rem;
    font-size: .9rem;
}

.container h2{
    text-decoration: underline;
}

.bw-logo{
    margin-top: 7rem;
}

.div-1{
    display: grid;
    text-align: center;
    font-size: 1.25rem;
    margin: 10rem 0 5rem 0;
}

.cadastro{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    outline: none;
}

.cadastro-element{
    margin-top: .75rem;
}

#mensagem{
    font-size: .90rem;
}

.alert{
    font-size: 1rem;
}

.input{
    background-color: #4F4F51;
    color: var(--base-color);
    width: 25rem;
    height: 3rem;
    border: 0;
    border-radius: .20rem;
    padding-left: 0.75rem;
    outline: none;
    box-shadow: none;

}

::-webkit-input-placeholder {
    color: var(--base-color);
    font-size: 1rem;
    font-weight: var(--black);
}

#botao{
    background-color: var(--button-color);
    color: var(--black);
    text-align: center;
    width: 8rem;
    height: 2.75rem;
    border: 0;
    border-radius: .20rem;
    font-weight: bold;
    font-size: .95rem;
    margin-top: .75rem;
    outline: none;
    box-shadow: none;
}
#botao:hover{
    cursor: pointer;
    background-color: #CEAE59;
}

.footer{
    background-color: #d20913;
    font-size: .75rem;
    margin: 5rem 0 .50rem 0;
    text-align: center;
}

