@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*VARIÁVEIS*/
:root{
    /*Cores*/
    --black: #00050b;
    --button-color: #FFBA00;
    --placeholder: #4F4F51;
}

body{
    background-color: var(--black);
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

.logo{
    position: fixed; /* Fixed position - sit on top of the page */
    transition: 0.2s; 
}

.container{
    display: grid;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.div-1{
    display: grid;
    text-align: center;
    font-size: 1.5rem;
    margin: 5rem 0 5rem 0;
}

.cadastro{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.cadastro-element{
    margin-bottom: .75rem;
}

.input{
    color: var(--black);
    width: 25rem;
    height: 3rem;
    border: 0;
    border-radius: .20rem;
    padding-left: 0.75rem;

    outline: none;
    box-shadow: none;

}

::-webkit-input-placeholder {
    color: var(--black);
    font-size: 1rem;
    font-weight: var(--black);
}

.botao{
    background-color: var(--button-color);
    color: var(--black);
    text-align: center;
    width: 8rem;
    height: 2.75rem;
    border: 0;
    border-radius: .20rem;
    font-weight: bold;
    font-size: .95rem;
    margin-top: .25rem;
}

.footer{
    font-size: .90rem;
    margin: 5rem 0 .50rem 0;
    text-align: center;
}

